.main-container {
    gap: 64px;
}

/* Image div */
.image-container {
    width: 50%;
    aspect-ratio: 4/3;
    flex: 0 0 50%;
}

.image-css {
    max-width: 100%;
}

.acc-container {
    gap: 16px;
}

.accordion-box {
    border-bottom: 1px solid #d1d4dc;
    padding: 0 0 16px;
    gap: 16px;
}

.acc-num-div {
    width: 40px;
    height: 40px;
    padding: 4px 8px 5px 8px;
    border-radius: 8px;
    background: rgba(135, 51, 255, 0.06);
    color: #8733ff;
    text-align: center;
    font-family: "Manrope";
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.02em;
    flex: 0 0 40px;
}

.acc-body {
    gap: 12px;
}

.acc-heading {
    cursor: pointer;
    padding: 0 !important;
    width: 100%;
}

.acc-title {
    color: #242424;
    margin: 0;
}

.acc-heading.active .acc-title {
    color: #8733ff;
}

.acc-content {
    display: none;
    overflow: hidden;
}

.acc-content.show {
    display: block;
    animation: test 1.8s ease-in;
}

.acc-text p {
    color: #4d4950;
}

.complete-guide-btn {
    text-decoration: none;
    color: #8733ff;
    font-family: "Manrope";
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.02em;
    margin: 24px 0 0;
}

@media (max-width: 1399px) {
    .main-container {
        gap: 56px;
    }
}

@media (max-width: 1199px) {
    .main-container {
        gap: 56px;
    }
}

@media (max-width: 991px) {
    .acc-content.show {
        overflow-y: hidden;
        overflow-x: visible;
        display: inline-block; /* Allows horizontal overflow */
        width: 100%; /* Ensure it takes full width */
    }
    .image-container {
        width: calc(100% + 56px);
        margin: 32px 0 0 -56px;
    }

    .acc-text {
        padding: 0 0 16px;
    }
}

@media (max-width: 767px) {
    .acc-container {
        gap: 12px;
    }

    .accordion-box {
        padding: 0 0 12px;
    }

    .acc-num-div {
        width: 36px;
        height: 36px;
        padding: 3.6px 7.2px 4.4px;
        font-size: 21.6px;
        flex: 0 0 36px;
    }

    .complete-guide-btn {
        margin: 20px 0 0;
    }

    .image-container {
        width: calc(100% + 52px);
        margin: 24px 0 0 -52px;
    }

    .acc-text {
        padding: 0 0 12px;
    }
}

@keyframes test {
    0% {
        max-height: 0;
    }

    100% {
        max-height: 100vh;
    }
}
