@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Manrope:wght@200..800&display=swap");

/* typography */
/* Headings */
.customtypo-heading h1,
.customtypo-heading h2,
.customtypo-heading h3,
.customtypo-heading h4,
.customtypo-heading h5,
.customtypo-heading h6 {
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 130% !important;
    font-family: "Manrope";
}

.customtypo-heading h1 {
    font-size: 48px;
}

.customtypo-heading h2 {
    font-size: 40px;
}

.customtypo-heading h3 {
    font-size: 32px;
}

.customtypo-heading h4 {
    font-size: 24px;
}

.customtypo-heading h5 {
    font-size: 20px;
}

.customtypo-heading h6 {
    font-size: 18px;
}

.customtypo-heading.custom-regular h4,
.customtypo-heading.custom-regular h5,
.customtypo-heading.custom-regular h6 {
    font-weight: 400 !important;
}

.customtypo-heading.custom-semibold h5,
.customtypo-heading.custom-semibold h6 {
    font-weight: 600 !important;
}

/* Paragraph and text */
.customtext-2xl p,
.customtext-xl p,
.customtext-l p,
.customtext-m p,
.customtext-s p {
    font-family: "Inter" !important;
    letter-spacing: -0.02em;
}

.customtext-2xl.custom-regular,
.customtext-xl.custom-regular,
.customtext-l.custom-regular,
.customtext-m.custom-regular,
.customtext-s.custom-regular {
    font-weight: 400;
}

.customtext-2xl.custom-medium,
.customtext-xl.custom-medium,
.customtext-l.custom-medium,
.customtext-m.custom-medium,
.customtext-s.custom-medium {
    font-weight: 500;
}

.customtext-2xl.custom-semibold,
.customtext-xl.custom-semibold,
.customtext-l.custom-semibold,
.customtext-m.custom-semibold,
.customtext-s.custom-semibold {
    font-weight: 600;
}

.customtext-xl p,
.customtext-l p,
.customtext-m p,
.customtext-s p {
    line-height: 150%;
}

.customtext-2xl p {
    line-height: 130%;
    font-size: 24px !important;
}

.customtext-xl p {
    font-size: 20px !important;
}

.customtext-l p {
    font-size: 18px !important;
}

.customtext-m p {
    font-size: 16px !important;
}

.customtext-s p {
    font-size: 14px !important;
}

@media (max-width: 1024px) {
    .customtypo-heading h1 {
        font-size: 32px;
    }

    .customtypo-heading h2 {
        font-size: 32px;
    }

    .customtypo-heading h3 {
        font-size: 24px;
    }

    .customtypo-heading h4 {
        font-size: 20px;
    }

    .customtypo-heading h5 {
        font-size: 18px;
    }

    .customtypo-heading h6 {
        font-size: 16px;
    }

    .customtext-2xl p {
        font-size: 20px !important;
    }

    .customtext-xl p {
        font-size: 18px !important;
    }

    .customtext-l p {
        font-size: 16px !important;
    }

    .customtext-m p {
        font-size: 14px !important;
    }
}

@media (max-width: 767px) {
    .customtypo-heading h1,
    .customtypo-heading h2 {
        font-size: 28px;
    }

    .customtypo-heading h3 {
        font-size: 20px;
    }

    .customtypo-heading h4,
    .customtypo-heading h5 {
        font-size: 16px;
    }

    .customtypo-heading h6 {
        font-size: 14px;
    }

    .customtext-2xl p {
        font-size: 18px !important;
    }

    .customtext-xl p {
        font-size: 16px !important;
    }

    .customtext-l p {
        font-size: 14px !important;
    }
}

/* typography end */
