* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    padding: 80px 0;
}

/* ------------------- */
.integrations_search-bar {
    width: 400px;
    height: 52px;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid #d1d4dc;
    background: #fff;
    gap: 16px;
}

.integrations_search-bar > input {
    flex-grow: 1;
    border: none !important;
    outline: none !important;
    font-family: "Inter", sans-serif !important;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -0.01em;
    color: #444;
}
.integrations_search-bar > input::placeholder {
    color: #767070;
}

.integrations_search-bar > button {
    border: none;
    outline: none;
    background: transparent;
}

/*  */

.suggestions-dropdown {
    position: absolute;
    top: 100%; /* Position it right below the input */
    left: 0;
    width: 100%;
    border: 1px solid #ccc;
    background-color: white;
    z-index: 100;
    display: none;
}

.suggestion-item {
    padding: 10px;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestion-item img {
    margin-right: 10px;
}

/* -------- */

.logo-slide {
    max-width: 1860px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.item * {
    margin: 0;
}
.item {
    display: inline-flex;
    align-items: center;
    gap: 12px;
}
.item-logo {
    height: 32px;
    width: 32px;
    background-color: red;
}
.right-to-left,
.left-to-right {
    display: flex;
}
.right-to-left>div,
.left-to-right>div{
    flex-shrink: 0;
}

.right-to-left {
    animation: rightslide 5s linear infinite;
}
.left-to-right {
    animation: leftslide 5s linear infinite;
}

@keyframes leftslide {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

@keyframes rightslide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
