.features-list-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;

    .features-container {

        border-radius: 16px;
        overflow: hidden;
        margin: 0 auto;
        max-width: 628px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .feature-container-contents {
            padding: 48px 48px 0 48px;
            display: flex;
            flex-direction: column;
            gap: 16px;

            h2 {
                color: #10003A !important;
                margin: 0;
                padding: 0;
            }

            p {
                color: #251A43 !important;
                margin: 0;
                padding: 0;
            }
        }

        .feature-container-images {

            margin: 0 auto;
            transition: 0.4s ease-in-out;

            &:hover {
                transition: transform 0.4s ease-in-out;
                transform: scale(1.05);
            }

            img {
                max-width: 100%;
                display: block;
            }
        }
    }

    .features-yellow-background {
        background: #FBE089;
    }

    .features-blue-background {
        background: #81E1F7;
    }

    .features-purple-background {
        background: #8251EE;

        .feature-container-contents {
            h2 {
                color: #ffffff !important;
                margin: 0;
                padding: 0;
            }

            p {
                color: #ffffff !important;
                margin: 0;
                padding: 0;
            }
        }
    }

    .features-pink-background {
        background: #E889FB;
    }

    .features-white-background {
        background: #ffffff;
    }

    a {
        text-decoration: none;
    }
}

@media (max-width:1023px) {

    .features-list-container {
        .features-container {


            .feature-container-contents {
                padding: 24px 24px 0 24px;
            }
        }
    }

}

@media(max-width:767px) {
    .features-list-container {
        grid-template-columns: 1fr;

        .features-container {
            max-width: 353px;
        }
    }


}