.more_awards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.awards_items {
    padding: 40px 32px;
    gap: 32px;
    border-radius: 16px;
    background: #f9f9f9;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.awards_items.deactive_items {
    display: none;
}

#toggle_awards {
    color: #f4f4f4 !important;
    font-family: "Inter", sans-serif !important;
    font-size: 16px !important;
    font-weight: 600 !important;
    line-height: 20px;
    letter-spacing: -0.01em;
    max-width: 198px;
    width: 100%;
    height: 44px !important;
    padding: 12px 24px;
    border-radius: 8px;
    background: #8733ff;
    border: none;
    margin: 48px auto 0;
}

@media (max-width: 1199px) {
    .more_awards {
        grid-template-columns: repeat(3, 1fr);
    }
    .awards_items {
        padding: 32px 24px;
        gap: 24px;
    }
}

@media (max-width: 991px) {
    .more_awards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 767px) {
    .more_awards {
        grid-template-columns: repeat(1, 1fr);
    }
    .awards_items {
        padding: 24px;
        gap: 20px;
    }
    #toggle_awards {
        margin: 40px auto 0;
    }
}
