* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: "Inter", sans-serif;
}

.free_tools-section {
  position: relative;
}
.free_tools-section::before, .free_tools-section::after {
  content: "";
  position: absolute;
  width: clamp(190px, 22.9%, 436px);
  aspect-ratio: 1;
  z-index: 0;
  background-size: contain !important;
  background-repeat: no-repeat !important;
}
.free_tools-section::before {
  top: 0;
  right: 0;
  background: url(https://krispcall-website.sgp1.cdn.digitaloceanspaces.com/20250310_062854/top_right_free_tools_bg.webp);
}
.free_tools-section::after {
  bottom: 0;
  left: 0;
  background: url(https://krispcall-website.sgp1.cdn.digitaloceanspaces.com/20250310_062854/bottom_left_free_tools_bg.webp);
}
.free_tools-section > div {
  position: relative;
  z-index: 1;
}

.tool-badge {
  padding-left: 40px;
}
.tool-badge .tool_name-icon {
  gap: 0 6px;
}
.tool-badge .tool-icon {
  width: 40px;
  aspect-ratio: 1/1;
}
.tool-badge .tool-name {
  background: linear-gradient(180deg, #b68af4 -17.59%, #8733ff 117.59%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Manrope", sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
}
.tool-badge .tool-powerBy {
  color: #242424;
  font-size: 14px !important;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: -0.02em;
  padding: 3px 6px;
}

.tool_heading-container {
  margin: 0 0 40px;
}
.tool_heading-container * {
  margin: 0;
}
.tool_heading-container h1 {
  color: #242424;
  margin: 0 0 16px;
}
.tool_heading-container p {
  color: #4d4950;
  font-weight: 400;
}

.v1_1-free_tools {
  max-width: 847px;
  margin: 0 auto;
  gap: 32px 0;
}
.v1_1-free_tools * {
  margin: 0;
}
.v1_1-free_tools > div:first-child {
  gap: inherit;
}

.tool-container {
  border-radius: 16px;
  background: #fff;
  box-shadow: 0px 280px 78px 0px rgba(0, 0, 0, 0), 0px 179px 72px 0px rgba(0, 0, 0, 0), 0px 101px 61px 0px rgba(0, 0, 0, 0.01), 0px 45px 45px 0px rgba(0, 0, 0, 0.02), 0px 11px 25px 0px rgba(0, 0, 0, 0.02);
  display: flex;
  padding: 24px;
  gap: 24px;
  flex-direction: column;
}
.tool-container.beforeSearch {
  padding: 24px 24px 80px 24px;
  gap: 80px;
}

.free_tools-form {
  display: flex;
  gap: 16px;
  width: 100%;
  --inputs_padding-top_bottom: 12px;
  --inputs_padding-left_right: var(--inputs_padding-top_bottom);
  --inputs_gaps: 12px;
}

.countrySelector {
  max-width: 278px;
  width: 100%;
}

#countryselector {
  width: 100%;
  border-radius: 0;
  border: none !important;
  background: none !important;
  padding: 0 !important;
  outline: none !important;
}

.iti {
  width: 100%;
  height: 100%;
}
.iti__flag-container {
  width: 100% !important;
  padding: 0 !important;
}
.iti__selected-flag {
  width: 100%;
  padding: var(--inputs_padding-top_bottom) var(--inputs_padding-left_right);
  padding-right: calc(var(--inputs_padding-left_right) + 14px);
  gap: var(--inputs_gaps);
  background: #fff !important;
  border-radius: 8px;
  border: 1px solid #d1d4dc !important;
  height: 44px;
}
.iti__selected-dial-code {
  margin: 0 !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.iti__arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: var(--inputs_padding-left_right);
  border: 0;
  background: url(https://krispcall.com/wp-content/themes/mitech/src/assets/images/caret-down.png) center no-repeat;
  height: 14px;
  width: 14px;
  margin: 0;
}
.iti__selected-flag-primary {
  padding: 0;
}
.iti__arrow.iti__arrow--up {
  transform: rotate(180deg);
  transform-origin: center center;
  top: unset;
}
.iti__country-list {
  width: 100%;
  border-radius: 8px;
  overflow-x: hidden;
}

#countryselector,
#numberSearch {
  height: 44px !important;
}

.numberSearch {
  flex-grow: 1;
  width: 100%;
  position: relative;
}
.numberSearch::before {
  content: url(https://krispcall-website.sgp1.cdn.digitaloceanspaces.com/20250310_073925/input_globe.svg);
  position: absolute;
  top: 50%;
  left: var(--inputs_padding-left_right);
  height: 20px;
  width: 20px;
  z-index: 1;
  transform: translateY(-50%);
  pointer-events: none;
}

#numberSearch {
  border: 1px solid #d1d4dc !important;
  border-radius: 8px !important;
  outline: none !important;
  width: 100%;
  color: #0d0d0d;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  background-color: #fff !important;
  padding: var(--inputs_padding-top_bottom) var(--inputs_padding-left_right) !important;
  padding-left: calc(var(--inputs_padding-left_right) + 20px + var(--inputs_gaps)) !important;
}
#numberSearch::-moz-placeholder {
  color: #a8a8a8 !important;
}
#numberSearch::placeholder {
  color: #a8a8a8 !important;
}
#numberSearch::-moz-placeholder {
  color: #a8a8a8 !important;
}
#numberSearch::-webkit-input-placeholder {
  color: #a8a8a8 !important;
}

.free_tools-submit {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  background: #e0e0e0;
  border: none !important;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  cursor: pointer;
  width: inherit;
  height: 44px !important;
}

.resultContainer.errorMSG {
  filter: blur(2.5px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.initialContent img {
  margin-bottom: 16px;
}
.initialContent p {
  color: #4d4950;
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 20px;
  letter-spacing: -0.01em;
}

.checking_number > div:first-child > p {
  color: #4d4950;
  margin: 0 0 8px;
}
.checking_number .dummy_layout-container {
  border-radius: 12px;
  border: 1px solid rgba(209, 212, 220, 0.5);
  overflow: hidden;
}

.progress-bar {
  border-left: 72px solid #10bc3b;
  background: #f2f2f2;
  height: 6px;
  width: 100%;
}

.dummy_layout {
  display: flex;
  gap: 0 24px;
  padding: 26px 12px 32px;
}
.dummy_layout .row {
  flex-wrap: nowrap !important;
  justify-content: space-between;
  gap: 0 24px;
  width: 100%;
}
.dummy_layout span {
  border-radius: 4px;
  background: rgba(0, 0, 0, 0.08);
  height: 16px;
  flex-shrink: 1;
  flex-grow: 1;
  animation: testAnimation 1.9s linear infinite;
}
.dummy_layout span:first-child {
  max-width: 204px;
}
.dummy_layout span:last-child {
  max-width: 95px;
}

@keyframes testAnimation {
  0% {
    background: rgba(0, 0, 0, 0.18);
  }
  50% {
    background: rgba(0, 0, 0, 0.08);
  }
  100% {
    background: rgba(0, 0, 0, 0.18);
  }
}
.finalResult > div:first-child {
  margin: 0 0 8px;
}
.finalResult > div:first-child p {
  color: #4d4950 !important;
}
.finalResult > div:first-child span {
  color: #8733ff;
  font-weight: 600;
}
.finalResult.limitReached > div:first-child p:last-child span {
  color: #ff4b55;
}
.finalResult.limitReached .resultData {
  filter: blur(2.5px);
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.resultData {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid rgba(209, 212, 220, 0.5);
  border-radius: 16px;
}
.resultData > div {
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 16px 12px;
  height: 46px;
  align-items: center;
  border-bottom: 1px solid rgba(209, 212, 220, 0.5);
}
.resultData > div:not(:nth-child(even)) {
  border-right: 1px solid rgba(209, 212, 220, 0.5);
}
.resultData > div:nth-child(n+5) {
  border-bottom: 0;
}
.resultData > div span {
  color: #8733ff;
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 14px;
  letter-spacing: -0.02em;
  border-radius: 4px;
  background: rgba(135, 51, 255, 0.07);
  padding: 8px;
  height: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.resultData > div p {
  color: #4d4950;
  white-space: nowrap;
}
.resultData > div p:first-child {
  text-overflow: ellipsis;
  overflow: hidden;
}
.resultData > div p:last-child {
  text-align: right;
}

.max_limit {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 320px;
  width: 100%;
  padding: 20px 16px;
  border-radius: 12px;
  border: 1px solid rgba(209, 212, 220, 0.2);
  background: #fff;
  box-shadow: 0px 20px 24px -4px rgba(10, 13, 18, 0.08), 0px 8px 8px -4px rgba(10, 13, 18, 0.03);
}
.max_limit .limit_request-btn {
  margin-top: 20px;
  color: #8733ff;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-decoration: none;
  border-radius: 8px;
  border: 1px solid #8733ff;
  display: flex;
  height: 40px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
}

.error-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.error_div {
  border-radius: 12px;
  border: 1px solid rgba(209, 212, 220, 0.2);
  background: #fff;
  box-shadow: 0px 20px 24px -4px rgba(10, 13, 18, 0.08), 0px 8px 8px -4px rgba(10, 13, 18, 0.03);
  padding: 24px 20px;
  gap: 8px;
}
.error_div p {
  line-height: 24px !important;
}

/* Get Real Country Numbers */
/* Number Lists */
.get_countryNumber {
  border-radius: 16px;
  border: 1px solid rgba(209, 212, 220, 0.3);
  background: #fff;
}
.get_countryNumber .numberLists {
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
}
.get_countryNumber .numberLists .heading {
  color: #242424;
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.02em;
}

.numbers_lists {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row_gap) var(--col_gap);
  --row_gap: 24px;
  --col_gap: 16px;
  margin-top: 32px;
}

.gen_num {
  border-radius: 8px;
  border: 1px solid #d1d4dc;
  background: #fff;
  gap: 8px;
  padding: 12px 16px;
  justify-content: center;
  flex-basis: calc((100% - var(--col_gap) * 2) / 3);
  min-width: 178px;
  flex-grow: 1;
  cursor: pointer;
  height: 48px;
}
.gen_num > span {
  color: #1a181b;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.01em;
}

.selectedNumber {
  padding: 40px 32px;
}

#back-numberLists {
  color: #4d4950;
  font-size: 14px;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.02em;
  gap: 0 4px;
  cursor: pointer;
}
#back-numberLists svg {
  height: 18px;
  width: 18px;
}

.selectedNumber-container > .heading {
  color: #242424;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  letter-spacing: -0.02em;
  max-width: 461px;
  margin: 16px auto;
}
.selectedNumber-container p {
  color: #4d4950;
  max-width: 514px;
  text-align: center;
}
.selectedNumber-container .btn-div {
  margin: 32px 0 0;
}

.getStarted-btn {
  border-radius: 8px;
  background: #8733ff;
  display: flex;
  height: 44px;
  font-family: "Inter", sans-serif;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: #fff !important;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.01em;
  text-decoration: none;
}

.request-bulk-free_tool {
  border-radius: 12px;
  border: 1px solid rgba(209, 212, 220, 0.6);
  background: #fff;
  padding: 24px;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.request-bulk-free_tool > div {
  gap: 16px;
}
.request-bulk-free_tool > div .title {
  color: #242424;
  font-family: "Inter", sans-serif !important;
  font-size: 24px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: -0.02em;
}
.request-bulk-free_tool > div > p {
  color: #4d4950;
}

.bulk-requestAccess {
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid #8733ff;
  text-decoration: none;
  color: #8733ff !important;
  font-family: "Manrope", sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px;
  letter-spacing: -0.01em;
  height: 44px;
}

@media (max-width: 991px) {
  .tool-badge {
    padding-left: 0;
  }
  .tool-badge .tool_name-icon {
    gap: 0 4px;
  }
  .tool_heading-container {
    margin: 32px 0;
  }
  .tool_heading-container h1 {
    margin: 0 0 20px;
  }
  .tool_heading-container p {
    max-width: 490px;
    margin: 0 auto;
  }
  .tool-container {
    padding: 20px;
    gap: 20px;
  }
  .tool-container.beforeSearch {
    padding: 20px 20px 64px 20px;
    gap: 64px;
  }
  .checking_number > div:nth-child(2) {
    gap: 0;
    padding: 0;
  }
  .dummy_layout {
    padding: 32px 16px;
  }
  .dummy_layout .row:nth-child(n+2) {
    display: none;
  }
  .dummy_layout span:first-child {
    max-width: 281px;
  }
  .dummy_layout span:last-child {
    max-width: 131px;
  }
  .resultData > div {
    width: 100%;
    border-right: 0 !important;
    border-bottom: 0;
  }
  .resultData > div:not(.order_6) {
    border-bottom: 1px solid rgba(209, 212, 220, 0.5);
  }
  .resultData .order_1 {
    order: 1;
  }
  .resultData .order_2 {
    order: 2;
  }
  .resultData .order_3 {
    order: 3;
  }
  .resultData .order_4 {
    order: 4;
  }
  .resultData .order_5 {
    order: 5;
  }
  .resultData .order_6 {
    order: 6;
  }
  .get_countryNumber .numberLists {
    padding: 20px;
  }
  .get_countryNumber .numberLists .heading {
    font-size: 18px;
    line-height: 24px;
  }
  .numbers_lists {
    --row_gap: 20px;
    margin-top: 24px;
  }
  .gen_num > span {
    font-size: 14px;
    line-height: 20px;
  }
  .selectedNumber {
    padding: 32px 20px;
  }
  .selectedNumber-container > .heading {
    font-size: 20px;
    line-height: 130%;
    max-width: 100%;
    margin: 12px 0 8px;
  }
  .selectedNumber-container .btn-div {
    margin: 24px 0 0;
  }
  .request-bulk-free_tool {
    padding: 20px;
    gap: 20px;
  }
  .request-bulk-free_tool > div {
    gap: 8px;
  }
  .request-bulk-free_tool > div .title {
    font-size: 20px;
    line-height: 130%;
  }
}
@media (max-width: 767px) {
  .free_tools-section::before, .free_tools-section::after {
    content: none;
  }
  .tool-badge .tool-icon {
    width: 32px;
  }
  .tool-badge .tool-name {
    font-size: 18px;
    line-height: 28px;
  }
  .tool_heading-container {
    margin: 24px 0;
  }
  .tool_heading-container h1 {
    margin: 0 0 16px;
  }
  .free_tools-form {
    flex-wrap: wrap;
    gap: 12px 8px;
    --inputs_gaps: 8px;
  }
  #countryselector {
    width: 100%;
  }
  .countrySelector,
  .numberSearch {
    flex-grow: 1;
    flex-basis: 150px;
  }
  .checkNumBtn {
    width: 100%;
  }
  .initialContent img {
    margin-bottom: 12px;
  }
  .initialContent p {
    font-size: 14px !important;
  }
  .dummy_layout {
    padding: 16px 8px;
  }
  .dummy_layout span:first-child {
    width: 52.5%;
    max-width: 179px;
  }
  .dummy_layout span:last-child {
    width: 34.3%;
    max-width: 117px;
  }
  .finalResult > div:first-child {
    margin: 0 0 8px;
    flex-direction: column;
    gap: 20px 0;
  }
  .finalResult > div:first-child p {
    text-align: center;
    width: 100%;
  }
  .finalResult > div:first-child p:nth-child(1) {
    order: 2;
  }
  .finalResult > div:first-child p:nth-child(2) {
    order: 1;
  }
  .get_countryNumber .numberLists {
    padding: 16px;
  }
  .get_countryNumber .numberLists .heading {
    font-size: 16px;
    line-height: 20px;
  }
  .numbers_lists {
    --row_gap: 12px;
    --col_gap: 8px;
    margin-top: 20px;
  }
  .selectedNumber {
    padding: 24px 16px;
  }
  .selectedNumber-container > .heading {
    font-size: 18px;
  }
  .selectedNumber-container .btn-div {
    margin: 20px 0 0;
  }
  .request-bulk-free_tool {
    flex-direction: column;
    padding: 16px;
    align-items: unset;
    gap: 12px;
  }
}/*# sourceMappingURL=style.css.map */